[submodule "ide/coda-bash"]
	path = ide/coda-bash
	url = git://github.com/wwjamieson3/Coda2-bash-mode.git
[submodule "ide/coda-solarized"]
	path = ide/coda-solarized
	url = git://github.com/bobthecow/solarized-seestyle.git
[submodule "ide/terminal-solarized"]
	path = ide/terminal-solarized
	url = https://stormwarning@github.com/tomislav/osx-terminal.app-colors-solarized.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://stormwarning@github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "ide/alfred-github"]
	path = ide/alfred-github
	url = git@github.com:willfarrell/alfred-github-workflow.git
[submodule "ide/alfred-killprocess"]
	path = ide/alfred-killprocess
	url = git@github.com:ngreenstein/alfred-process-killer.git
[submodule "ide/alfred-caniuse"]
	path = ide/alfred-caniuse
	url = git@github.com:willfarrell/alfred-caniuse-workflow.git
[submodule "ide/alfred-pkgman"]
	path = ide/alfred-pkgman
	url = git@github.com:willfarrell/alfred-pkgman-workflow.git
[submodule "ide/alfred-encode"]
	path = ide/alfred-encode
	url = git@github.com:willfarrell/alfred-encode-decode-workflow.git
[submodule "ide/coda-jquery"]
	path = ide/coda-jquery
	url = git@github.com:rayman813/coda2-mode-jquery.git
