[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-nvm"]
	path = zsh/zsh-nvm
	url = git@github.com:lukechilds/zsh-nvm.git
[submodule "ide/alfred-github"]
	path = ide/alfred-github
	url = git@github.com:willfarrell/alfred-github-workflow.git
[submodule "ide/alfred-killprocess"]
	path = ide/alfred-killprocess
	url = git@github.com:ngreenstein/alfred-process-killer.git
[submodule "ide/alfred-caniuse"]
	path = ide/alfred-caniuse
	url = git@github.com:willfarrell/alfred-caniuse-workflow.git
[submodule "ide/alfred-pkgman"]
	path = ide/alfred-pkgman
	url = git@github.com:willfarrell/alfred-pkgman-workflow.git
[submodule "ide/alfred-encode"]
	path = ide/alfred-encode
	url = git@github.com:willfarrell/alfred-encode-decode-workflow.git
[submodule "ide/phpcs-wp-coding-standards"]
	path = ide/phpcs-wp-coding-standards
	url = git@github.com:WordPress-Coding-Standards/WordPress-Coding-Standards.git
[submodule "shell/tpm"]
	path = shell/tpm
	url = git@github.com:tmux-plugins/tpm.git
